   main {
       margin: 0;
       padding: 0;
   }

   #title {
       margin: 0 auto;
       padding: 5px auto;
       text-align: center;
       font-family: 'Courier New', Courier, monospace;
       font-weight: 700;
       max-width: 70%;
   }

   #img-div {
       margin: auto;
       text-align: center;
       max-width: 80%;
       display: block;
   }

   img {
       width: 60rem;
       margin: auto;
       max-width: 80%;
       display: block;
   }

   .iamge p {
       text-align: center;
   }

   #tribute-info {
       max-width: 70%;
       width: 60rem;
       margin: auto;
       padding: 10px;
       text-align: center;

   }

   .font {
       text-align: justify;
       margin-bottom: 18px;
       list-style-type: circle;
   }

   .quote {
       margin: auto;
       text-align: center;
       max-width: 60%;
       padding: 10px;

   }

   .quote p {
       margin-top: auto;
       margin-bottom: auto;
       width: 80rem;
       margin-left: 20px;
       margin-right: auto;
       text-align: center;
       max-width: 90%;
       padding: 0px;

   }

   .wiki {
       text-align: center;
       max-width: 70%;
       margin: auto;
   }