:root {
  --main-nav: #000428;
  --text-list: #eee;
  --main-blue: #004e92;
  --color-project: #002E62;
  --text-p: #CCE3FD;
  --card-color: #001731;
  --color-black: #000000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.4;
  color: var(--text-list);
}

.nav {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 1;
  background-color: var(--main-nav);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.3);
}

.nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 104px;
  margin-right: 10px;

}

.nav-list li {
  list-style: none;
}

.nav-list a {
  padding: 35px;
  text-decoration: none;
  font-size: 1.90rem;
  font-weight: 600;
  color: var(--text-list);
}

.nav-list a:hover {
  background-color: var(--text-list);
  color: var(--color-black);
  justify-content: center;

}


#welcome-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  align-items: center;
  background: var(--main-blue);
}

#projects {
  background-color: var(--color-project);
  padding: 10px;
  padding-bottom: 100px;
}

.title-project {
  text-align: center;

}

/* projects */
.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  width: 100%;
  gap: 2rem;
  padding: 10px auto;
}

.project-tile {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background: var(--card-color);
  border-radius: 12px;
  width: 100%;
  padding: 8px;

}

.project-image {
  display: block;
  object-fit: cover;
  border-radius: 12px;
  width: 100%;
}

.project-tile h3,
p {
  text-align: center;
}

.project-tile a {
  text-align: center;
  background-color: var(--text-list);
  border-radius: 7px;
  padding: 10px;
  margin-top: 10px;
  text-decoration: none;
  font-weight: 600;
  color: #000;
}


.project-tile a:hover {
  background-color: var(--main-nav);
  color: var(--text-p);
}

.btn-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.btn-show-all {
  background-color: var(--color-black);
  padding: 1rem 2rem;
  border-radius: 20px;
  text-decoration: none;
  font-weight: 600;
  color: var(--text-p);
}

.btn-show-all>i {
  transform: translateX(0px);
  margin-left: 7px;
}

.btn-show-all:hover>i {
  transform: translateX(2px);
  transition: 0.3s ease-out;
  color: var(--text-p);
  color: red;
}

/* end projects */

.contact-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background-color: #001731;
  color: var(--text-p);
}

.contact-section-header {
  margin: 50px 80px;
  font-size: 2rem;
}

.contact-links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-bottom: 10px;
}

.contact-details {
  padding: 10px;
  color: var(--text-p);
  text-decoration: none;
  transform: translateY(0);
  transition: transform 0.3s ease-in-out;
}

.contact-details:hover {
  transform: translateY(2px);
}

footer {
  display: flex;
  justify-content: space-evenly;
  border-top: 2px solid black;

  font-size: large;
  padding: 10px;
  background-color: #002E62;
}

@media (max-width: 768px) {
  .nav-list a {
    padding: 15px;
    font-size: 1.4rem;
  }
}
@media (max-width: 600px) {
  #welcome-section h1 {
    font-size: 2.5rem;
  }
  #welcome-section h2 {
    font-size: 1.6rem;
  }
    .contact-links {
    flex-direction: column;
    align-items: center;
  }
    footer {
    flex-direction: column;
    text-align: center;
    gap: 1rem;
  }
}
