@import url('https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic:wght@100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Yuji+Mai&display=swap');
body{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    /* background-color: rgb(85, 95, 123); */
    background-color: #A294F9;
}
.survey-header{
    text-align: center;

}
#title{
    font-family: "Poppins", serif;
    font-weight: 600;
    line-height: 1.1;
    color: white;
}
#description{
    color: white;
    font-family: "Poppins", serif;
    font-weight: 400;
    line-height: 15px;
}
hr{
    width: 22rem;
    margin-top: 20px;
    border: 1px solid;
    color: black;
}
#survey-form{
    background-color: #CDC1FF;
    padding: 20px;
    margin: 0 auto;
    margin-bottom: 28px;
    border: 2px solid #CDC1FF;
    border-radius: 25px ;
    max-width: 580px;
    width: 100%;
}
    
   

#name-label,
#email-label,
#number-label,
#Gender-label{
    margin-left: 5px;
    font-family: "Poppins", serif;
    font-weight: 400;
    line-height: 30px;
    display: block;
    text-transform: capitalize;
}

#name,
#email,
#number{
    width: 92%;
    padding: 10px;
    margin: 2px;
    background-color: rgb(238, 241, 243);
    border: 0.1rem solid rgb(40, 73, 95);;
    border-radius: 0.5rem;
}

#dropdown{
    width: 96%;
    padding: 10px;
    margin: 2px;
    background-color: rgb(238, 241, 243);
    border: 0.1rem solid rgb(40, 73, 95);
    border-radius: 0.5rem;
}
.checkbox{
    font-family: "Poppins", serif;
    text-transform: capitalize;
}
#textarea{
    font-family: "Poppins", serif;
    text-transform: capitalize;

}
#comment{
    width: 100%;
    height: 35%;
    resize: vertical;
    min-height: 120px;
}

#button{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#submit{
    width: 80%;
    height: 40px;
    background-color: rgb(36, 49, 58);
    color: aliceblue;
    font-size: 20px;
    border: none;
    border-radius: 0.5rem ; 
}
#submit:hover{
    background-color: black;
    color: antiquewhite;
    cursor: pointer; 
    transition: 0.5s;
}

