* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    
}
#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 10px 20px;
    z-index: 1000;
}
#form, #Features, #How-It-Works, #Pricing {
  scroll-margin-top: 120px;
}
body {
    padding-top: 100px;
    background-color: #e0e0e0;
}

#header-img {
    max-height: 60px;
}

#nav-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.nav-link {
    background-color: antiquewhite;
    padding: 10px;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #333;
    border-radius: 4px;
}

.nav-link:hover {
    background-color: #333;
    color: #fff;
}

#form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#form h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 10px;
}

#form h2::first-letter {
    font-size: 39px;
    color: #484343;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#email {
    width: 20rem;
    height: 2rem;
    margin: 10px;
    padding: 5px;
    text-transform: capitalize;
}

#submit {
    width: 9rem;
    height: 2rem;
    color: #333;
    border: none;
    background-color: antiquewhite;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: capitalize;
    border-radius: 4px;
}

#submit:hover {
    background-color: #333;
    color: #fff;
}

#Features {
    padding: 30px 20px;
    margin-top: 10px;
    text-align: center;
    border: 2px solid #333;
}

.title-section {
    font-size: 28px;
    margin-top: 1px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.features-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.feature-card {
    background-color: #909090;
    border-radius: 2px;
    margin: 10px;
    padding: 10px;
    width: 290px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#How-It-Works {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border: 2px solid;
    margin: auto
}
.How-It-Works-container{
    border: 2px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.How-It-Works-container p{
    text-align: center;
    margin:20px 35px;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#video{
margin: 20px;
max-width: 100%;
}

#Pricing{
    padding: 30px 20px;
}
.pricing-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
} 

.Pricing-card{ 
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: #909090;
    width: 280px;
    height: 300px;
    margin: 30px 10px;
    padding: 15px;
    border-radius: 12px;
    text-align: center;
    list-style: none;
}
.Pricing-card h3{
font-size: 23px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.price{
font-size: 20px;
font-family: Arial, sans-serif;
margin-top: 10px;
}
.Pricing-card ul{
margin: 20px 2px;
padding: 0;
font-size: 22px;
} 
.Pricing-card li{
list-style: none;
text-align: left;
}

.Pricing-btn{
width: 120px;
height: 40px ;
font-size: 18px;
text-transform: capitalize;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
border-radius: 7px;
border: none;
margin: 0 auto;
background-color:#e0e0e0;
} 
.Pricing-btn:hover{
    background-color:bisque;
}
#footer {
  display: flex;
  flex-direction: column;   
  align-items: center;
  justify-content: center;
  background-color: #484343;
  padding: 20px;            
}

.footer-link {
  display: flex;
  flex-direction: row;     
  gap: 15px;
  margin-bottom: 10px;     
}

.footer-link a {
  color: #fff;             
  text-decoration: none;
}

.footer-link a:hover {
  color: bisque;
  border-bottom: 2px solid bisque;
}

.Copyright {
  color: #fff;
  font-size: 14px;
  margin-top: 5px;         
}

/*media responsive */
@media (max-width: 750px) {
  #header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 15px;

  }

  #nav-bar {
    flex-direction: column;
    gap: 10px;
  }

  .nav-link {
    font-size: 14px;
    padding: 10px;
    width: 100%;
    text-align: center;
  }


  #form {
    flex-direction: column;   
    width: 100%;
  }

  #email {
    width: 90%;
    max-width: 400px;
    margin-bottom: 10px;
  }

  #submit {
    width: 60%;
    max-width: 200px;
  }


  .features-container {
    flex-direction: column;
    align-items: center;
  }

  .feature-card {
    width: 90%;
  }

  .pricing-container {
    flex-direction: column;
    align-items: center;
  }

  .Pricing-card {
    width: 90%;
    height: auto;
  }

  .Pricing-btn {
    width: 80%;
    font-size: 16px;
    height: 35px;
    margin-top: auto;
  }

  #footer {
    text-align: center;
    padding: 20px;
  }

  .footer-link {
    display: flex;
    flex-direction: column;   
    gap: 5px;
    margin-top: 20px;
  }

 #form, #How-It-Works, #Pricing {
  scroll-margin-top: 220px;
}
#form{
padding-top: 150px;
}
#Features{
  scroll-margin-top: 187px;
}
}